<%- include("partials/header") %>

<main>
    <div class="d-flex flex-column align-content-center py-auto">
        <h1 class="mx-auto"><%= restaurant.name %></h1>
        <p class="mx-auto"><%= restaurant.rating %></p>
        <p class="mx-auto"><%= restaurant.description %></p>
    
        <button class="btn btn-danger btn-lg mx-auto" type="button">
            <a class="text-muted text-decoration-none" href="/">Go back</a>
        </button>
    </div>
</main>

<%- include("partials/footer") %>
